/* roboto-regular - latin */

:root {
  --lightgray: #EEEEEE;
  --black-basic-text :#000000;
  --lightblack-basic-text:#283136;
  --button-text:#FFFFFF;
  --button-color: #FB565A;
  --cart-text:#666666;
  --footer-text:#444444;
  --gradient-text:#E1E1E1;
  --icon-block:#4D4D4D;
  --green-button:#00CA74;
  --yellow-button:#EFC849;
  --guidance:#E74246;
  --guidance-green:#00BC6C;
  --guidance-yellow:#EAB534;
  --button-lightgray:#DFDFDF;
  --social-color:#E1E1E1;
  --catalog-color:#D7373B;
  --calculation-color:#D5D5D5;
  --border-icon: #DBDBDB;
  --
}


body {
  min-width: 1440px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-width: 1440px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--black-basic-text);
  background-color: var(--white-background);
  }
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*page*/
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
 
}
/*header*/
.main-header {
  background-color: var(--lightgray);
  display: grid;
}
.main-logo{

}
.main-logo img:active {
  opacity: 0.2;
}
 /*navigation*/

.main-navigation {
  display: grid;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black-basic-text);
}

.container-navigation {
  margin: 0 auto;
  padding: 0 10px;
}
.main-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
}
.main-navigation a:not(href) {
  color: var(--black-basic-text);
}
.main-navigation a:hover,
.main-navigation a:focus {
  color:var(--button-color);
}

.main-navigation a:active
 {
  background-color: transparent;
  opacity: 0.3;
  color: var(--black-basic-text); 
}
.site-navigation {
  list-style: none;
}
.banner {
  background-color: var(--lightgray);
  width: 760px;
  height: 431px;
  margin-bottom: 80px;
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
}
  /*features*/

.features {
  margin-bottom: 155px;
}
.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.features-item {
  text-align: center;
}
.features-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}
.features-item p {
  margin: 0 10px;
  margin-bottom: 32px;
}
.features-item img {
  width: 300px;
  height: 146px;
}
/*button*/

.button {
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  color: inherit;
  text-align: center;
  padding: 15px 40px;
  border-radius: 3px; 
  margin-bottom: 155px;
  color: var(--button-text);
  background-color: var(--button-color);
  text-transform: uppercase;
  vertical-align: middle;
}
.button:hover,
.button:focus {
  background-color: var(--guidance);
}
.button:active {
  
  color: var(--button-text);
  background-color: var(--catalog-color); 
}
.button-green:hover,
.button-green:focus {
  background-color: var(--guidance-green);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--guidance-yellow);
}
.button-green {
  background-color:var(--green-button);
}

.button-yellow {
  background-color: var(--yellow-button);
}
.description-flex{
  display: flex;
  justify-content: space-between;
}
.description h2{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.description h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.advantage ul {
  list-style: none;
}
.advantage h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.percent {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}
/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 126px;
  list-style: none;
  text-align: center;
}
.partners-item {
  opacity: 0.2;
}
.partners-item:hover,
.partners-item:focus {
  opacity: 1;
}
.partners-item:active {
  opacity: 0.1;
}
.contacts h4 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
/*catalog*/
.main-title {
  display: flex;
  justify-content: center;
  background-color: var(--lightgray);
}

.flex-style {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.catalog-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.payment {
  min-width: 260px;
}
.catalog-list ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

form {
  padding: 0;
  margin: 0;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}
.catalog-flex {
  padding: 0 41px 30px;
  border: 2px solid violet;
}
.top-picture {
  text-align: center;
  border: 2px solid yellow;
  background-color: var(--lightgray);
}
.catalog-menu ul {
  list-style: none;
}
.cost {
  font-size: 18px;
  line-height: 19px;
}
fieldset {
  border: none;
}
.header-calculation {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.sorting {
  display: flex;
  justify-content: space-between;
}
.calculation-list {
  list-style: none;
}
.calculation-item {
  font-size: 18px;
  line-height: 19px;
}
.calculation {
  background-image: var(--lightgray);
  color: var(--black-basic-text);
  font-weight: 500;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 60px;
  border-radius: 3px;
}
.calculation-button:hover,
.calculation-button:focus {
  background-color: var(--button-lightgray);
}
.calculation-button:active {
 background-color: var(--calculation-color);
 opacity: 0.3;
}
.header-catalog {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.catalog-list {
  list-style: none;
  font-size: 14px;
  line-height: 18px;
}
.catalog-list a:not(href) {
  color: var(--black-basic-text);
}
.catalog-menu {
  list-style: none;
}
.catalog-item {
  font-size: 16px;
  line-height: 18px;
  color: var(--cart-text);
}

.catalog-header {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-basic-text);
}
/*button-catalog*/
.filter-input-radio:active + label{
  opacity: 0.3;
}
.filter-input-checkbox:active + label {
  opacity: 0.3;
}

.button-catalog {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--button-text);
  background-color: var(--button-color);
  border: none;
  padding: 15px 60px;
  text-align: center;
  border-radius: 3px;
}
.button-catalog:hover,
.button-catalog:focus {
  background-color: var(--guidance);
}
.button-catalog:active {
 background-color: var(--catalog-color);
 box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.catalog-list {
  opacity: 0.3;
}
.catalog-list:hover,
.catalog-list:focus {
  opacity: 0.6;
}
.catalog-list:active {
  color: var(--black-basic-text);
}
.catalog-image {
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}
.pagination-list a:not(href) {
  color: var(--black-basic-text);
}

.pagination-list {
  display: flex;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.page-item a {
  background-color: var(--lightgray);
}
.page-item a:hover,
.page-item a:focus {
  background-color: var(--button-lightgray);
}
.page-item a:active {
  background-color: var(--calculation-color);
  mix-blend-mode: multiply;
}
.page-current a {
  border: 3px solid var(--border-icon);
  padding: 15px;
}
/*footer*/
.address {
  color: var(--cart-text);
}
.contacts {
  border: 5px solid black;
  background: ;
  width: 319px;
  height: 309px;
  text-align: center;
}


.contacts-phone {
  color:inherit;
}
.social {
  margin-bottom: 68px;
}
.social-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.social-item {
  width: 81px;
  height: 81px;
  background-color: var(--social-color);
  border-radius: 50%;
}
.social-item:hover,
.social-item:focus {
  border-radius: 50%;
  background-color: var(--guidance);
}
.social-item:active {
  border-radius: 50%;
  background-color: var(--catalog-color);
}