/* roboto-regular - latin */

:root {
  --lightgray: #EEEEEE;
  --black-basic-text :#000000;
  --lightblack-basic-text:#283136;
  --button-text:#FFFFFF;
  --button-color: #FB565A;
  --cart-text:#666666;
  --footer-text:#444444;
  --gradient-text:#E1E1E1;
  --icon-block:#4D4D4D;
  --green-button:#00CA74;
  --yellow-button:#EFC849;
  --guidance:#E74246;
  --guidance-green:#00BC6C;
  --guidance-yellow:#EAB534;
  --button-lightgray:#DFDFDF;
  --social-color:#E1E1E1;
  --catalog-color:#D7373B;
  --calculation-color:#D5D5D5;
  --border-icon: #DBDBDB;
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  min-width: 1440px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--black-basic-text);
  background-color: var(--white-background);
  }
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/*page*/
.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
/*header*/
.main-header {
  background-color: var(--lightgray);
}
.main-logo{
 width: 160px;
}
.main-logo img:active {
  opacity: 0.2;
}
 /*navigation*/

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black-basic-text);
}
.main-navigation li {
  margin-right: 45px;
}
.basket-navigation a:not(href){
  color: var(--black-basic-text);
}
.basket-navigation {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.grid-container {
  display: grid;
  max-width: 1100px;
  margin: 0 auto;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}
.container-navigation {
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation a:not(href) {
  color: var(--black-basic-text);
}
.main-navigation a:hover,
.main-navigation a:focus {
  color:var(--button-color);
}

.main-navigation a:active
 {
  background-color: transparent;
  opacity: 0.3;
  color: var(--black-basic-text); 
}
.site-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  background-color: var(--lightgray);
  max-width: 1440px;
  margin-bottom: 80px;
}
.banner-style {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  height: 431px;
  background-repeat: no-repeat;
  background-image: url("../img/nerds-index-slide1.png");
  background-position-x: right;
}
.banner-container {
  padding-top: 20px;
  width: 538px;
}

  /*features*/


.features {
  margin-bottom: 155px;
  max-width: 1100px;
  margin: 0 auto;
}
.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 60px;
}
.features-item {
  text-align: center;
}
.features-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}
.features-item p {
  margin: 0 10px;
  margin-bottom: 32px;
}
.features-item img {
  width: 300px;
  height: 146px;
}
/*button*/

.button {
  display: inline-block;
  line-height: 18px;
  font: inherit;
  color: inherit;
  text-align: center;
  border-radius: 3px; 
  color: var(--button-text);
  background-color: var(--button-color);
  text-transform: uppercase;
  vertical-align: middle;
}
.header-button {
  width: 240px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 15px;
}
.button:hover,
.button:focus {
  background-color: var(--guidance);
}
.button:active {
  color: var(--button-text);
  background-color: var(--catalog-color); 
}
.button-green:hover,
.button-green:focus {
  background-color: var(--guidance-green);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--guidance-yellow);
}
.button-green {
  background-color:var(--green-button);
}

.button-yellow {
  background-color: var(--yellow-button);
}
.description {
  max-width: 1100px;
  margin: 0 auto;
}
.description-flex{
  display: flex;
  justify-content: space-between;
}
.description-block {
  width: 650px;
}
.description h2{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.description h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.advantage {
  width: 360px;
}
.advantage ul {
  display: flex;
  padding: 0;
  list-style: none;
}
.advantage h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.percent {
  display: block;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-top: 2px solid var(--lightgray);
  border-bottom: 2px solid var(--lightgray);
  padding: 46px 0 44px 0;
  margin-bottom: 126px;
  list-style: none;
  text-align: center;
}
.partners-item {
  opacity: 0.2;
}
.partners-item:hover,
.partners-item:focus {
  opacity: 1;
}
.partners-item:active {
  opacity: 0.1;
}
.contacts h4 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

/*catalog*/
.main-title {
  
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  max-width: 1100px;
  margin: 0 auto;
}
.main-catalog {
  max-width: 1440px;
  margin: 0 auto;
}
.main-back {
  display: flex;
  align-items: center;
  height: 250px;
  max-width: 1440px;
  background-color: var(--lightgray);
}
.flex-style {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}
.catalog-navigation {
  width: 760px;
}
.catalog-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.catalog-item {
  font-size: 16px;
  line-height: 18px;
  color: var(--cart-text);
  margin-bottom: 45px;
}
.payment {
  width: 260px;
}
form {
  padding: 0;
  margin: 0;
  padding-top: 28px;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}
.catalog-flex {
  position: relative;
}
.top-picture {
  position: absolute;
  display: none;
  bottom: 0px;
  width: 360px;
  height: 231px;
  opacity: 0;
  transition: 1s;
  text-align: center;
  background-color: var(--lightgray);
}
.cost {
  font-size: 18px;
  line-height: 19px;
}
fieldset {
  border: none;
}
.header-calculation {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
.header-block {
  margin-bottom: 10px;
} 
.sorting {
  display: flex;
  justify-content: space-between;
}
.calculation-list {
  list-style: none;
}
.calculation-item {
  font-size: 18px;
  line-height: 19px;
}
.calculation {
  background-image: var(--lightgray);
  color: var(--black-basic-text);
  font-weight: 500;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 60px;
  border-radius: 3px;
}
.calculation-button:hover,
.calculation-button:focus {
  background-color: var(--button-lightgray);
}
.calculation-button:active {
 background-color: var(--calculation-color);
 opacity: 0.3;
}
.header-catalog {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.catalog-list {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
.catalog-list a:not(href) {
  color: var(--black-basic-text);
}
.catalog-list ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-right: 25px;
}
.catalog-header {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-basic-text);
}
/*button-catalog*/
.filter-input-radio:active + label{
  opacity: 0.3;
}
.filter-input-checkbox:active + label {
  opacity: 0.3;
}

.button-catalog {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--button-text);
  background-color: var(--button-color);
  border: none;
  padding: 15px 60px;
  text-align: center;
  border-radius: 3px;
}
.button-catalog:hover,
.button-catalog:focus {
  background-color: var(--guidance);
}
.button-catalog:active {
 background-color: var(--catalog-color);
 box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.catalog-list {
  opacity: 0.3;
}
.catalog-list:hover,
.catalog-list:focus {
  opacity: 0.6;
}
.catalog-list:active {
  color: var(--black-basic-text);
}
.catalog-image:hover + .top-picture {
  opacity: 1;
  display: block;
  transition: 1s;
}
.top-picture:hover {
  opacity: 1;
  display: block;
  transition: 1;
}
.pagination {
  max-width: 1100px;
  margin: 0 auto;
}
.pagination-list a:not(href) {
  color: var(--black-basic-text);
}

.pagination-list {
display: flex;
justify-content: center;
flex-wrap: wrap;
list-style: none;
font-size: 16px;
line-height: 18px;
font-weight: 500;
margin-top: 55px;
margin-bottom: 60px;
margin-right: 310px;
}
.page-item a {
  background-color: var(--lightgray);
}
.page-item a:hover,
.page-item a:focus {
  background-color: var(--button-lightgray);
}
.page-item a:active {
  background-color: var(--calculation-color);
  mix-blend-mode: multiply;
}
.page-current a {
  border: 3px solid var(--border-icon);
  padding: 15px;
}
/*footer*/
.contacts {
  max-width: 1440px;
}
.contacts h4 {
  margin: 0;
  padding: 0;
}
.contact-position {
  max-width: 1100px;
  margin: 0 auto;
}
.address {
  color: var(--cart-text);
}
.colbasa {
  width: 1100px;
  margin: 0 auto;
}
.contact {
  position: absolute;
  background-color: var(--button-text);
  max-width: 1100px;
  margin: 0;
  padding: 50px 49px 47px 50px;
  box-sizing: border-box;
  width: 319px;
  height: 309px;
  text-align: center;
}
.contacts-phone {
  color:inherit;
}
.cart-navigation {
  max-width: 1440px;
  height: 416px;
  background-image: url("../img/cart.jpg");
}
.footer-social {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.social {
  display: grid;
  
  margin: 0 auto;
  margin-bottom: 68px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 243px;
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-item {
  width: 81px;
  height: 81px;
  background-color: var(--social-color);
  border-radius: 50%;
  padding-top: 30px;
}
.social-item:hover,
.social-item:focus {
  border-radius: 50%;
  background-color: var(--guidance);
} 
.social-item:active {
  border-radius: 50%;
  background-color: var(--catalog-color);
}
.social-item:active img {
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  visibility: hidden;
}
.footer-sale {
  margin: 0 auto;
}
.footer-sale h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.footer-sale p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--footer-text);
}