/* roboto-regular - latin */

:root {
  --lightgray: #EEEEEE;
  --black-basic-text :#000000;
  --lightblack-basic-text:#283136;
  --button-text:#FFFFFF;
  --button-color: #FB565A;
  --cart-text:#666666;
  --footer-text:#444444;
  --gradient-text:#E1E1E1;
  --icon-block:#4D4D4D;
  --green-button:#00CA74;
  --green-active:#00AA62;
  --yellow-button:#EFC849;
  --guidance:#E74246;
  --guidance-green:#00BC6C;
  --guidance-yellow:#EAB534;
  --button-lightgray:#DFDFDF;
  --social-color:#E1E1E1;
  --catalog-color:#D7373B;
  --calculation-color:#D5D5D5;
  --border-icon: #DBDBDB;
  --scale-line: #D7DCDF;
  --bar-color: #ABABAB;
  --back-catalog: #F2F2F2;
  --form-color: #D7DCDE;
  --slide-color: #C1C1C1;
  --form-hover: #B4B9BB;
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  min-width: 1440px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: var(--black-basic-text);
  background-color: var(--white-background);
  }
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/*page*/

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*header*/

.main-header {
  background-color: var(--lightgray);
}
.grid-container {
  display: grid;
  max-width: 1160px;
  margin: 0 auto;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}
.main-logo{
 width: 160px;
}
.main-logo img:active {
  opacity: 0.2;
}

 /*navigation*/

.main-navigation {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black-basic-text);
}
.main-navigation a:not(href) {
  color: var(--black-basic-text);
}
.main-navigation a:hover,
.main-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color:var(--button-color);
}
.main-navigation a:active,
.basket-navigation a:active {
  background-color: transparent;
  opacity: 0.3;
  color: var(--black-basic-text); 
}
.site-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.site-navigation a {
  display: block;
  padding: 25px 0px;
  margin-right: 45px;
}
.basket-navigation {
  display: flex;
  justify-content: flex-end;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}
.basket-navigation a:not(href) {
  display: block;
  padding: 25px 0;
  color: var(--black-basic-text);
}
.basket-navigation .basket {
  padding-left: 50px;
  position: relative;
}
.basket::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("../img/svg/cart-icon.svg");
  background-position: 0 0;
}
.underline {
  border-bottom: 2px solid var(--button-color);
}

/* main */

.banner {
  background-color: var(--lightgray);
  max-width: 1440px;
  margin-bottom: 80px;
}
.banner-style {
  display: flex;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  height: 431px;
  background-repeat: no-repeat;
  background-position-x: right;
}
.banner-container {
  padding-top: 20px;
  width: 538px;
}
.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slide {
  display: none;
  transition: 1s;
  opacity: 0;
}
.slide-current {
  display: block;
  transition: 1s;
  opacity: 1;
}
.slider-controls {
  position: absolute;
  top: 430px;
  right: 100px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;
}
.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--button-text);
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.slider-controls .current {
  background-image: url("../img/svg/ellpse.svg");
  background-repeat: no-repeat;
  transition: 1s;
}
.site-wrapper-0 {
  background-image: url("../img/nerds-index-slide1.png");
  transition: 1s;
}
.site-wrapper-1 {
  background-image: url("../img/nerds-index-slide2.png");
  transition: 1s;
}
.site-wrapper-2 {
  background-image: url("../img/nerds-index-slide3.png");
  transition: 1s;
}

  /*features*/

.features {
  margin-bottom: 155px;
  max-width: 1160px;
  margin: 0 auto;
}
.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 60px;
  margin-bottom: 80px;
}
.features-item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}
.features-item p {
  margin-bottom: 32px;
}
.features-item img {
  width: 300px;
  height: 146px;
}
.gallery-content {
  width: 300px;
  height: 146px;
  background-color: var(--lightgray);
  margin: 0;
}
.gallery-content img {
  width: 300px;
  height: 146px;
}
/*button*/

.button {
  display: inline-block;
  line-height: 18px;
  font: inherit;
  text-align: center;
  border-radius: 3px; 
  color: var(--button-text);
  background-color: var(--button-color);
  text-transform: uppercase;
}
.header-button {
  width: 240px;
  height: 50px;
  padding-top: 17px;
  padding-bottom: 15px;
}
.button:hover,
.button:focus {
  background-color: var(--guidance);
}
.button:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: var(--catalog-color); 
}
.button:active span {
  opacity: 0.3;
}
.button-green:hover,
.button-green:focus {
  background-color: var(--guidance-green)
}
.button-green:active {
  background-color: var(--green-active);
}
.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--guidance-yellow);
}
.button-yellow:active {

}
.button-red {
  padding: 15px;
}
.button-green {
  padding: 15px;
  background-color:var(--green-button);
}
.button-yellow {
  padding: 15px;
  background-color: var(--yellow-button);
}

/* description */

.description {
  max-width: 1160px;
  margin: 0 auto;
}
.description-top{
  display: flex;
  justify-content: space-between;
}
.description-about {
  width: 650px;
}
.description h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.description h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.description-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.description-list li {
  position: relative;
  margin-left: 30px;
}
.description-list li::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -30px;
  width: 25px;
  height: 2px;
  background-color: var(--button-color);
}
.advantage {
  width: 360px;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  padding-top: 200px;
}
.advantage ul {
  display: flex;
  padding: 0;
  list-style: none;
}
.advantage h4 {
  text-transform: uppercase;
  font-weight: 700;
}
.advantage-item {
  margin-right: 20px;
}
.percent {
  display: block;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/*partners*/

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-top: 2px solid var(--lightgray);
  border-bottom: 2px solid var(--lightgray);
  padding: 46px 0 44px 0;
  margin-bottom: 126px;
  list-style: none;
  text-align: center;
}
.partners-item {
  opacity: 0.2;
}
.partners-item:hover,
.partners-item:focus {
  opacity: 1;
}
.partners-item:active {
  opacity: 0.1;
}

/*catalog*/

.main-catalog {
  max-width: 1440px;
  margin: 0 auto;
}
.main-back {
  display: flex;
  align-items: center;
  height: 250px;
  max-width: 1440px;
  background-color: var(--lightgray);
  margin-bottom: 55px;
}
.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  max-width: 1160px;
  margin: 0 auto;
}
.flex-style {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
}

/* form */

.calculation-form {
  padding: 0;
  margin: 0;
  width: 260px;
  padding-top: 28px;
}

.cost {
  font-size: 18px;
  line-height: 19px;
}
.range-filter {
  width: 260px;
}
.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  background-color: var(--lightgray);
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: var(--scale-line);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green-button);
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--button-text);
  background-color: var(--bar-color);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls {
  display: flex;
  justify-content: space-between;
}
.price-controls label {
  text-transform: uppercase;
}
.price-controls input {
  width: 80px;
  height: 38px;
  text-align: center;
  color: var(--lightblack-basic-text);
  border: none;
  border-radius: 5px;
  background: var(--lightgray);
  font-family: inherit;
  font-size: inherit;
}

/* radio */

.filter-radio {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}
.filter-item {
  border: none;
  padding: 0;
  margin: 0;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 48px;
}
.header-calculation {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}
.header-block {
  margin-bottom: 10px;
} 
.calculation-list {
  list-style: none;
  padding: 0;
}
.calculation-item {
  font-size: 18px;
  line-height: 19px;
  position: relative;
  margin-bottom: 20px;
}
.filter-radio {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}
.filter-radio +label::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 4px solid var(--icon-block);
  opacity: 0.4;
  border-radius: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}
.filter-radio:checked + label::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  background-image: url("../img/svg/Oval.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.filter-radio:not(:disabled):hover +label::before {
  opacity: 1;
}

/* checkbox */

.filter-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 40px;
}
.filter-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  padding-left: 40px;
}
.filter-input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 22px;
  height: 23px;
  opacity: 0.4;
  border: 2px solid var(--icon-block);
  border-radius: 3px;
  flex-shrink: 0;
  flex-grow: 1;
}
.filter-input:checked + label::before {
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  border: none;
  background-image: url("../img/svg/checkbox-on.svg");
  background-size: cover;
}
.filter-input:not(:disabled):hover +label::before {
  opacity: 1;
}

/* button-calculation */

.calculation-button {
  background-image: var(--lightgray);
  color: var(--black-basic-text);
  font-weight: 500;
  line-height: 18px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  padding: 17px 90px 15px 90px;
  border-radius: 3px;
  outline: none;
}
.calculation-button:hover,
.calculation-button:focus {
  background-color: var(--button-lightgray);
}
.calculation-button:active {
 background-color: var(--calculation-color);
 box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.calculation-button:active span {
  opacity: 0.3;
}

/* catalog-navigation */

.catalog-navigation {
  width: 760px;
}
.sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.header-sorting {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.catalog-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.catalog-list a:not(href) {
  color: var(--black-basic-text);
}
.catalog-list ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-right: 25px;
}
.catalog-sorting {
  margin-right: 25px;
  opacity: 0.3;
}
.catalog-sorting:hover,
.catalog-sorting:focus {
  opacity: 0.6;
}
.catalog-sorting:active {
  color: var(--black-basic-text);
}
.button-sorting-up {
  width: 11px;
  height: 10px;
  opacity: 0.3;
  border: none;
  margin-right: 18px;
  margin-left: 47px;
  background: transparent;
  background-image: url("../img/svg/triangle.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
}
.button-sorting-down {
  width: 11px;
  height: 10px;
  opacity: 0.3;
  border: none;
  background: transparent;
  background-image: url("../img/svg/triangle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
}
.button-sorting-up:hover,
.button-sorting-up:focus,
.button-sorting-down:hover,
.button-sorting-down:focus {
  opacity: 0.6;
}
.button-sorting-up:active,
.button-sorting-down:active{
  opacity: 1;
}

/* catalog-menu */

.catalog-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.catalog-item {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: var(--cart-text);
  margin-bottom: 45px;
}
.catalog-item:hover .top-picture,
.catalog-item:hover {
  opacity: 1;
  display: block;
  transition: 0;
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 0 0 10px 10px;
}
.catalog-item:hover .catalog-gallery::before {
  background-color: var(--button-text);
  opacity: 1;
}
.catalog-gallery {
  position: relative;
  background-color: var(--lightgray);
  width: 360px;
  height: 620px;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  border-radius: 0 0 10px 10px;
}
.catalog-gallery::before {
  content: "";
  position: absolute;
  background-color: var(--button-text);
  top: 0px;
  left: 0;
  width: 360px;
  height: 40px;
  background-image: url("../img/svg/block.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}
.catalog-image {
  width: 360px;
  height: 580px;
  border-radius: 0 0 10px 10px;
}
.top-picture {
  position: absolute;
  display: none;
  bottom: 0px;
  width: 360px;
  height: 231px;
  opacity: 0;
  transition: 1s;
  text-align: center;
  background-color: var(--lightgray);
}
.catalog-header {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-basic-text);
}
.catalog-header:hover {
  color: var(--button-color);
}
.catalog-header:active {
  color: var(--black-basic-text);
  opacity: 0.3;
}
.header-catalog {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

/*button-catalog*/

.button-catalog {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--button-text);
  background-color: var(--button-color);
  border: none;
  padding: 15px 60px;
  text-align: center;
  border-radius: 3px;
}
.button-catalog:hover,
.button-catalog:focus {
  background-color: var(--guidance);
}
.button-catalog:active {
 background-color: var(--catalog-color);
 box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* pagination */

.pagination {
  max-width: 1160px;
  margin: 0 auto;
}
.pagination-list a:not(href) {
  color: var(--black-basic-text);
}
.pagination-list {
display: flex;
flex-wrap: wrap;
list-style: none;
font-size: 16px;
line-height: 18px;
font-weight: 500;
margin-bottom: 60px;
padding: 0;
padding-left: 0;
}
.page-current a {
  display: block;
  padding: 11px 15px;
  border: 3px solid var(--border-icon);
  border-radius: 3px;
}
.page-union {
  margin-right: 15px;
}
.page-union:last-child {
  margin-right: 0;
}
.page-item a {
  display: block;
  background-color: var(--lightgray);
  padding: 14px 17px;
  border-radius: 3px;
}
.page-next a{
  display: block;
  padding: 14px 80px;
  background-color: var(--lightgray);
  border-radius: 3px;
}
.page-item a:hover,
.page-item a:focus,
.page-next a:hover,
.page-next a:focus {
  background-color: var(--button-lightgray);
}
.page-item a:active {
  background-color: var(--calculation-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.page-next a:active {
  background-color: var(--calculation-color);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*footer*/

.contacts {
  max-width: 1440px;
  height: 416px;
  background-image: url("../img/logo/map.png");
  margin-bottom: 68px;
}
.contacts h4 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.contacts-cart {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  height: 100%;
}
.contact {
  position: absolute;
  background-color: var(--button-text);
  max-width: 1160px;
  margin: 0;
  padding: 50px 49px 47px 50px;
  box-sizing: border-box;
  width: 319px;
  height: 309px;
}
.address {
  color: var(--cart-text);
  margin-bottom: 40px;
}
.contacts-phone {
  color:inherit;
}
.button-cart {
  padding: 15px 44px;
}
.footer-social {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 68px;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 243px;
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-item {
  width: 81px;
  height: 81px;
  background-color: var(--social-color);
  border-radius: 50%;
  padding-top: 30px;
}
.social-item:hover,
.social-item:focus {
  border-radius: 50%;
  background-color: var(--guidance);
} 
.social-item:active {
  border-radius: 50%;
  background-color: var(--catalog-color);
}
.social-item:active img {
  opacity: 0.3;
}
.visually-hidden {
  position: absolute;
  visibility: hidden;
}
.footer-sale {
  margin: 0 auto;
}
.footer-sale h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.footer-sale p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--footer-text);
}

/* modal form */

.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  color: var(--black-basic-text);
  background-color: var(--button-text);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.modal-show {
  display: block;
}
.modal-close {
  position: absolute;
  top: 110px;
  right: 90px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.modal-login {
  top: 1600px;
  bottom: auto;
  width: 960px;
  height: 590px;
  padding: 0 100px;
}
.modal-login h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  padding-top: 65px;
  z-index: 21;
}
.modal-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}
.modal-form {
  margin-bottom: 10px;
}
.form-icon-name,
.form-icon-email {
  display: inline-block;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  border: 2px solid var(--form-color);
  border-radius: 3px;
}
.modal-form-name input[type="text"]:hover, 
.modal-form-name input[type="email"]:hover,
.textarea-modal:hover {
  border: 2px solid var(--form-hover);
}
.form-icon-name:focus, 
.form-icon-email:focus,
.textarea-modal:focus {
  outline: none;
  border: 2px solid var(--black-basic-text);
}
.textarea-modal  {
  width: 760px;
  margin-bottom: 50px;
  border: 2px solid var(--form-color);
  border-radius: 3px;
}
.modal-error {
  animation: shake 0.6s;
  border: 2px solid var(--button-color);
}
.button-modal {
  display: inline-block;
  line-height: 18px;
  font: inherit;
  color: inherit;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 15px 80px 15px 80px; 
  color: var(--button-text);
  background-color: var(--button-color);
  text-transform: uppercase;
  vertical-align: middle;
  outline: none;
}
.button-modal:hover,
.button-modal:focus {
  background-color: var(--guidance);
}
.button-modal:active {
  color: var(--button-text);
  background-color: var(--catalog-color);
  opacity: 0.3; 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.modal-close::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 21px;
  height: 21px;
  background-image: url("../img/svg/close-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0 ;
  opacity: 0.3;
}
.modal-close:hover::before,
.modal-close:focus::before {
  opacity: 1;
}
.modal-close:active::before {
  opacity: 0.1;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}


